@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #111827;
  box-shadow: 0 0 0 1000px white inset;
}
